<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michelle.driverbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Logging">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DriverMenu" />
        <activity
            android:name=".DriverProfileEditActivity"
            android:label="Edit Profile"
            android:parentActivityName=".DriverMenu" />
        <activity
            android:name=".FineHistory"
            android:label="@string/fine_history_1"
            android:parentActivityName=".DriverMenu" />
        <activity
            android:name=".Payment"
            android:label="Payment Details" />
        <activity android:name=".PoliceOfficerMenu"
            />
        <activity
            android:name=".WriteFine"
            android:label="@string/issue_fine_1"
            android:parentActivityName=".PoliceOfficerMenu"/>
            />
        <activity
            android:name=".CheckLicense"
            android:label="@string/check_license" />
        <activity
            android:name=".RespondDistress"
            android:label="@string/distress_respond" />
        <activity
            android:name=".TrackDistressDriver"
            android:label="@string/track_driver" />
        <activity
            android:name=".EditFineOfficer"
            android:label="@string/edit_fine" />
        <activity
            android:name=".FineHistoryOfficer"
            android:label="@string/fine_history_1" />
        <activity
            android:name=".OfficerSettings"
            android:label="@string/settings"
            android:parentActivityName=".PoliceOfficerMenu" />
        <activity
            android:name=".UpdateFine"
            android:label="@string/update" />
        android:label="@string/settings" />
        <activity android:name=".insurance_profile" />
        `
        <activity
            android:name=".insurance_edit_profile"
            android:label="Edit Profile"
            android:parentActivityName=".insurance_profile" />
        <activity
            android:name=".DriverRegistration"
            android:label="Registration"
            android:parentActivityName=".Logging" />
        <activity
            android:name=".insurance_track_driver"
            android:label="Track Driver" />
        <activity
            android:name=".insurance_popwindow"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".SettingUpProfileActivity"
            android:label="Setting Up Profile" />
        <activity
            android:name=".Insurance_accident_report"
            android:label="Accident Report"
            android:parentActivityName=".insurance_profile" />
        <activity
            android:name=".DriverFineDetails"
            android:label="Fine Details" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".DriverAccidentReport" />
        <activity
            android:name=".DriversMapsActivity"
            android:label="@string/title_activity_drivers_maps"></activity>
    </application>

</manifest>